$color_1: #fff;
$color_2: #4d5791;
$font-family_1: Tahoma, Arial;
$background-color_1: #4d5791;
$background-color_2: white;
$background-color_3: #b4c6f0;

nav {
  width: 100%;
  background-color: $background-color_1;
  height: 44px;
  padding: 0 40px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      a {
        display: block;
        padding: 0 20px;
        line-height: 44px;
        font-size: 1em;
        text-decoration: none;
        color: $color_1;
        margin: 0;
        &:hover {
          background-color: $background-color_2;
          color: $color_2;
        }
      }
    }
  }
}
